{% extends 'base.html' %}
{% load extras %}
{% load humanize %}

{% block title %}Statistic{% endblock %}
{% block body %}
    <div class="m-4 mt-8">
        <div class="form-check form-switch mt-4 mb-4">
            <form action="" method="GET">
                <input name="active_bots" type="checkbox" id="onlyActiveBots">
                <label for="onlyActiveBots">Only active bots</label>
                <input type="submit" value="Refresh">
            </form>
        </div>
        {% for owner in owners %}
            <h3 class="text-lg leading-6 font-medium text-gray-900">{{ owner.name }}</h3>
            <!-- table -->
            <div class="mt-5 mb-10">
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full">
                                    <thead class="bg-indigo-100">
                                    <tr>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Bot name
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Equity
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Exposure, %
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Employed Cap, %
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Price Crypto
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Price Fair
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Price Forex
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Price Deviation
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Base (brw)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Quote (brw)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Last update
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Odd row -->
                                    {% for bot in owner.bot_set.all %}
                                        {% if 'active_bots' not in request.GET or bot.is_active %}
                                            {% with bot_statistic=bot.botstatistic_set.first %}
                                                <tr class="bg-white divide-x">
                                                    <td class="{% if bot.is_active %} text-green-400 {% else %} text-gray-900 {% endif %} px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium">
                                                        <a href="{% url 'admin:core_bot_change' bot.pk %}">{{ bot.bot_name }}</a>
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.equity|floatformat:0|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.exposure|floatformat:0|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.employed_capital|floatformat:0|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.price_crypto|intcomma }} ({{ bot_statistic.price_change }}%)
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.price_fair|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.price_forex|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.price_deviation|floatformat:2 }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.balance_base_borrowed|floatformat:1|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.balance_quote_borrowed|floatformat:1|intcomma }}
                                                    </td>
                                                    <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                        {{ bot_statistic.updated|date:"d/m/Y H:i:s" }}
                                                    </td>
                                                </tr>
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Total row -->
                                    <tr class="bg-gray-100">
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ owner.total_equity|floatformat:0|intcomma }}
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            const urlParams = new URLSearchParams(window.location.search);
            document.getElementById('onlyActiveBots').checked = urlParams.has('active_bots');
        });
    </script>
{% endblock %}
