{% extends 'base.html' %}
{% load extras %}
{% block title %}Statistic{% endblock %}
{% block body %}
    <div class="container">
        <div class="form-check form-switch mt-4 mb-4">
            <form action="" method="GET">
                <input class="form-check-input" name="active_bots" type="checkbox" id="onlyActiveBots">
                <label class="form-check-label" for="onlyActiveBots">Only active bots</label>
                <input type="submit" value="Refresh">
            </form>
        </div>
        {% for owner in owners %}
            <p><b>{{ owner.name }}</b></p>
            {% if owner.bots_count > 0 %}
                <table class="table table-bordered">
                    <tr>
                        <th>Bot name</th>
                        <th>Equity</th>
                        <th>Exposure, %</th>
                        <th>Employed Cap, %</th>
                        <th>Price Crypto</th>
                        <th>Price Fair</th>
                        <th>Price Forex</th>
                        <th>Price Deviation</th>
                        <th>Base (brw)</th>
                        <th>Quote (brw)</th>
                        <th>Last update</th>
                    </tr>
                    {% for exchnage_cred in owner.exchangecredentials_set.all %}
                        {% for bot in exchnage_cred.bot_set.all %}
                            {% with bot_statistic=bot.botstatistic_set.first symbol=bot.instrument.symbol %}
                                {% if 'active_bots' not in request.GET or bot.is_active %}
                                    <tr>
                                        <td class="{% if bot.is_active %}text-success{% endif %}">{{ bot.bot_name }}</td>
                                        <td>{{ bot_statistic.equity|floatformat:0 }}</td>
                                        <td>{{ bot_statistic.exposure|floatformat:0 }}</td>
                                        <td>{{ bot_statistic.employed_capital|floatformat:0 }}</td>
                                        <td>{% if symbol.price_precision %}{{ bot_statistic.price_crypto|truncate:symbol.price_precision }}{% else %}{{ bot_statistic.price_crypto }}{% endif %} ({{ bot_statistic.price_change }}%)</td>
                                        <td>{% if symbol.price_precision %}{{ bot_statistic.price_fair|truncate:symbol.price_precision }}{% else %}{{ bot_statistic.price_fair }}{% endif %}</td>
                                        <td>{% if symbol.price_precision %}{{ bot_statistic.price_forex|truncate:symbol.price_precision }}{% else %}{{ bot_statistic.price_forex }}{% endif %}</td>
                                        <td>{{ bot_statistic.price_deviation|floatformat:2 }}</td>
                                        <td>{{ bot_statistic.balance_base_borrowed|floatformat:1 }}</td>
                                        <td>{{ bot_statistic.balance_quote_borrowed|floatformat:1 }}</td>
                                        <td>{{ bot_statistic.updated|date:"d/m/Y H:i:s" }}</td>
                                        <td><a href="{% url 'admin:core_bot_change' bot.pk %}">Edit</a></td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </table>
                <p><b>Total equity:</b> {{ owner.total_equity|floatformat:0 }}</p>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            const urlParams = new URLSearchParams(window.location.search);
            document.getElementById('onlyActiveBots').checked = urlParams.has('active_bots');
        });
    </script>
{% endblock %}
