<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}rcdb dashboard{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="mt-4 mx-4">
    <div class="pb-5 border-b border-gray-200 sm:pb-0">
        <div class="mt-3 sm:mt-4">
            <!-- Dropdown menu on small screens -->
            <div class="sm:hidden">
                <label for="current-tab" class="sr-only">Select a tab</label>
                <select id="current-tab" name="current-tab"
                        class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-xs rounded-md">
                    <option>Admin</option>

                    <option>Stats</option>

                    <option selected>Balances</option>
                </select>
            </div>
            <!-- Tabs at small breakpoint and up -->
            <div class="hidden sm:block">
                <nav class="-mb-px flex space-x-8">
                    <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-300" -->
                    {% if user.is_staff %}
                        <a href="{% url 'admin:index' %}"
                           class="border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-md">
                            Admin
                        </a>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <a href="{% url 'statistic' %}"
                           class="{% if '/' == request.path %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-300{% endif %} whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-md">
                            Stats
                        </a>
                        <a href="{% url 'balances' %}"
                           class="{% if 'balances' in request.path %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-300{% endif %} whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-md"
                           aria-current="page">
                            Balances
                        </a>
                        <a href="{% url 'rebates' %}"
                           class="{% if 'rebates' in request.path %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-300{% endif %} whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-md"
                           aria-current="page">
                            Rebates
                        </a>

                         <a href="{% url 'logout' %}"
                            class="border-transparent text-gray-900 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-md"
                            aria-current="page">
                            Logout
                        </a>

                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="">
{% block body %}{% endblock %}
</div>
</body>
</html>