{% extends 'base.html' %}
{% load humanize %}
{% block title %}Balances of {{ owner.name }}{% endblock %}

{% block body %}
    <div class="m-4 mt-8">
        <div class="mt-5 mb-10">
            <p>{{ creds.name }} {{ creds.label }} {{ creds.account_type_label }} ({{ creds.balance_snapshot_created|date:"d/m/Y H:i:s" }})</p>
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full">
                                <thead class="bg-indigo-100">
                                <tr>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Symbol
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Amount
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Amount, $
                                    </th>
                                    {% if creds.is_margin %}
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Borrowed, $
                                        </th>

                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Interest, $
                                        </th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                    {% for balance in creds.balance_snapshot.balances %}
                                        <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% else %}bg-white{% endif %} divide-x">
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                                {{ balance.symbol }}{% if balance.pair_symbol %} ({{ balance.pair_symbol }}){% endif %}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ balance.amount|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ balance.amount_usd|floatformat:0|intcomma }}
                                            </td>
                                            {% if creds.is_margin %}
                                                <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                    {{ balance.borrowed_usd|floatformat:0|intcomma }}
                                                </td>
                                                <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                    {{ balance.interest_usd }}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
