{% extends 'base.html' %}
{% load humanize %}
{% block title %}Balances{% endblock %}

{% block body %}
    <div class="m-8 mt-8">
        {% for owner in owners %}
            <h3 class="text-lg leading-6 font-medium text-gray-900"><a href="{% url 'admin:core_owner_change' owner.pk %}">{{ owner.name }}</a></h3>
            <!-- table -->
            <div class="mt-5 mb-10">
                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full sortable">
                                    <thead class="bg-indigo-100">
                                    <tr>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Account
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Type
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Label
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Balance
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Borrowed
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Volume (This Hour)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Volume (24h)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Volume (This Week)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            PnL (1h)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            PnL (24h)
                                        </th>
                                        <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                            Last Timestamp
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Odd row -->
                                    {% for creds in owner.get_exchange_credentials_balances %}
                                        <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% else %}bg-white{% endif %} divide-x">
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                                <a href="{% url 'admin:core_exchangecredentials_change' creds.pk %}">{{ creds.name }}</a>
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ creds.account_type_label }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ creds.label }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                <a href="{% url "balances_detail" creds.pk %}">
                                                    {% if not creds.ignore_balance %}{{ creds.balance_snapshot_clean.total_usd|floatformat:0|intcomma }}{% else %}-{% endif %}
                                                </a>
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {% if not creds.ignore_balance %}{{ creds.borrowed_interest_sum|floatformat:0|intcomma }}{% else %}-{% endif %}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ creds.statistics_clean.h1_usd_volume|floatformat:0|intcomma|default_if_none:'' }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ creds.statistics_clean.h24_usd_volume|floatformat:0|intcomma|default_if_none:'' }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ creds.statistics_clean.d7_usd_volume|floatformat:0|intcomma|default_if_none:'' }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                 {% if not creds.ignore_balance %}
                                                    <span class="hint--top" aria-label="Updated: {{ creds.statistics_clean.pnl_updated }} Prev: {{ creds.statistics_clean.h1_total_usd|floatformat:2 }} In: {{ creds.statistics_clean.h1_transfers_in_volume|floatformat:2 }} Out: {{ creds.statistics_clean.h1_transfers_out_volume|floatformat:2 }}">
                                                        {{ creds.statistics_clean.h1_pnl|floatformat:1|intcomma|default_if_none:'' }}{% if creds.statistics_clean.h1_pnl is not None %}%{% endif %}
                                                    </span>
                                                {% else %}-{% endif %}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {% if not creds.ignore_balance %}
                                                    <span class="hint--top" aria-label="Updated: {{ creds.statistics_clean.pnl_updated  }} Prev: {{ creds.statistics_clean.h24_total_usd|floatformat:2 }} In: {{ creds.statistics_clean.h24_transfers_in_volume|floatformat:2 }} Out: {{ creds.statistics_clean.h24_transfers_out_volume|floatformat:2 }}">
                                                        {{ creds.statistics_clean.h24_pnl|floatformat:1|intcomma|default_if_none:'' }}{% if creds.statistics_clean.h24_pnl is not None %}%{% endif %}
                                                    </span>
                                                {% else %}-{% endif %}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ creds.balance_snapshot_created|date:"d/m/Y H:i:s" }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                        <!-- Total row -->
                                        <tfoot>
                                            <tr class="bg-gray-100">
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">

                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">

                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">
                                                {{ owner.totals.total_usd|floatformat:0|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">
                                                {{ owner.totals.borrowed_interest_sum|floatformat:0|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">
                                                {{ owner.totals.h1_usd_volume|floatformat:0|intcomma|default_if_none:'' }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">
                                                {{ owner.totals.h24_usd_volume|floatformat:0|intcomma|default_if_none:'' }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">
                                                {{ owner.totals.d7_usd_volume|floatformat:0|intcomma|default_if_none:'' }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">

                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">

                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">

                                            </td>
                                        </tr>
                                        </tfoot>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}
