{% extends 'base.html' %}
{% block title %}Balances{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for owner in owners %}
            <table class="table table-bordered table-sm">
                <tr>
                    <td colspan="6"><a href="{% url 'balances_detail' owner.pk %}">{{ owner.name }}</a></td>
                </tr>
                <tr>
                    <th>id</th>
                    <th>Account</th>
                    <th>Label</th>
                    <th>Spot balance, $</th>
                    <th>Margin balance, $</th>
                    <th>Last Update</th>
                </tr>
                {% for creds in owner.exchangecredentials_set.all %}
                    <tr>
                        <td><a href="{% url 'admin:core_exchangecredentials_change' creds.pk %}">{{ creds.order_id }}</a></td>
                        <td>{{ creds.name }}</td>
                        <td>{{ creds.label }}</td>
                        <td>{{ creds.balance_snapshot.spot_usd|floatformat:0 }}</td>
                        <td>{{ creds.balance_snapshot.margin_usd|floatformat:0 }}</td>
                        <td>{{ creds.balance_snapshot_created|date:"d/m/Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"><b>Total usd</b></td>
                    <td><b>{{ owner.total_usd|floatformat:0 }}</b></td>
                </tr>

                {% if owner.h24_usd_volume >= 0 %}
                    <tr>
                        <td colspan="5"><b>24h Volume, $</b></td>
                        <td><b>{{ owner.h24_usd_volume|floatformat:0 }}</b></td>
                    </tr>
                {% endif %}
                {% if owner.h24_trades_count >= 0 %}
                    <tr>
                        <td colspan="5"><b>24h Trades</b></td>
                        <td><b>{{ owner.h24_trades_count }}</b></td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}
    </div>
{% endblock %}
