{% extends 'base.html' %}
{% load extras %}
{% load humanize %}

{% block title %}Rebates {% if exchange_credentials %} for {{ exchange_credentials.name }} {{ exchange_credentials.label }} {{ exchange_credentials.account_type_label }} {% endif %}{% endblock %}
{% block body %}
    <div class="form-check form-switch mt-4 mb-4">
        <form action="" method="GET">
            {% for field in form %}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="m-4 mt-8">
        {% for symbol, rebates in rebates_data.items %}
            <p>{{ symbol }}</p>
            <div class="mt-5 mb-10">
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full">
                                <thead class="bg-indigo-100">
                                <tr>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Timestamp
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Volume
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Expected Rebate
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Received Rebate
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Volume, $
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Expected Rebate, $
                                    </th>
                                    <th scope="col" class="px-3 xl:px-6 py-1.5 xl:py-3 text-left text-xs font-bold text-gray-900 tracking-wider">
                                        Received Rebate, $
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in rebates.data %}
                                        <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% else %}bg-white{% endif %} divide-x">
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                                {{ item.timestamp }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ item.volume|floatformat:2|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ item.expected_rebate|floatformat:2|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ item.rebate|floatformat:2|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ item.volume_usd|floatformat:2|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ item.expected_rebate_usd|floatformat:2|intcomma }}
                                            </td>
                                            <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs text-gray-900">
                                                {{ item.rebate_usd|floatformat:2|intcomma }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="bg-gray-100">
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-bold text-gray-900">
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ rebates.total_volume|floatformat:2|intcomma }}
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ rebates.total_expected_rebate|floatformat:2|intcomma }}
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ rebates.total_rebate|floatformat:2|intcomma }}
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ rebates.total_volume_usd|floatformat:2|intcomma }}
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ rebates.total_expected_rebate_usd|floatformat:2|intcomma }}
                                        </td>
                                        <td class="px-3 xl:px-6 py-2 xl:py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                                            {{ rebates.total_rebate_usd|floatformat:2|intcomma }}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}